/* Global Styles */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    margin: 0 auto
}

/* Styling the global container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/* Removing bullet points and underline from nav list */
.nav ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
}

/* Styling nav to the top of the page */
.nav {
    display: flex;
    align-items: center; 
}

.nav nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav nav ul li {
    margin-right: 20px; 
}

/* Adjusting the margin to add space between the logo and the navigation */
.nav img {
    margin-right: 300px; 
}

/* Adjusting the margin to add space between "Help" and "Sign In" */
.nav nav ul li:nth-child(5) {
    margin-right: 200px; 
}

/* Styling Sign In & Sign Up buttons */
.si-button{
    background-color: transparent;
    border: none; 
    color: black; 
    margin-right: 20px; 
}

.su-button{
    background-color: transparent; 
    border: 2px solid #F53838; 
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #F53838; 
}